# SQLITE DATABASE QUERIES FOR CSV FILE2 TABLE2 -[PHASE2]

In [1]:
import sqlite3

In [8]:
db = sqlite3.connect('IMDB_DATA10_database.db')

In [9]:
cur = db.cursor()

In [13]:
cur.execute('create table IMDB_DATA10(id int primary key,movie_name text,star1 text,star2 text,star3 text,star4 text,genre1 text,genre2 text,genre3 text,votes int,Gross_collection int,ratings int,certification text)')

In [14]:
with open('IMDB_DATA10.csv','r') as file:
    total_records = 0
    for row in file:
        cur.execute("insert into IMDB_DATA10 values(?,?,?,?,?,?,?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted in table')

51 Records inserted in table

In [15]:
result = cur.execute("SELECT Movie_name FROM IMDB_DATA10")
for row in result:
    print(row)

('Movie_name',)
('The Dark Knight',)
('The Lord of the Rings:TROK',)
('Inception',)
('The Lord of the Rings:TFOR',)
('The Lord of the Rings:TTT',)
('The Matrix',)
('Star Wars:EpiV-TESB',)
('Soorarai Pottru',)
('Star Wars',)
('Terminator 2:Judgment Day',)
('Shichinin no samurai',)
('Seppuku',)
('Sita Ramam',)
('LÃ©on',)
('Gladiator',)
('Spider-Man:ITSV',)
('Avengers: Endgame',)
('Raiders of the Lost Ark',)
('Avengers: Infinity War',)
('Oldeuboi',)
('The Dark Knight Rises',)
('Aliens',)
('Kaithi',)
('Asuran',)
('Top Gun: Maverick',)
('Heat',)
('Star Wars:EpVI-ROTJ',)
('Mononoke-hime',)
('North by Northwest',)
('Kantara',)
('Dangal',)
('K.G.F: Chapter 2',)
('Vikram',)
('Ratsasan',)
('Shershaah',)
('Guardians of the Galaxy Vol3',)
('Spider-Man: No Way Home',)
('Jurassic Park',)
('Indiana Jones and the Last Crusade',)
('1917',)
('Kill Bill: Vol. 1',)
('Batman Begins',)
('Die Hard',)
('V for Vendetta',)
('Kimetsu no Yaiba:Mugen R-H',)
('Ran',)
('Gangs of Wasseypur',)
('Vikram Vedha',)
('Baahubali 2: The Conclusion',)
('YÃ´jinbÃ´',)

In [16]:
sql = "SELECT * FROM IMDB_DATA10 WHERE id =10"
result = cur.execute(sql)
for row in result:
    print(row)

(10, 'Shichinin no samurai', 'ToshirÃ´ Mifune', ' Takashi Shimura', ' Keiko Tsushima', ' Yukiko Shimazaki', '"352734"', ' Action', ' Drama', 'NONE', '$0.27M', 8.6, 'U\n')

In [17]:
sql = "SELECT * FROM IMDB_DATA10 WHERE votes>10000000"
result = cur.execute(sql)
for row in result:
    print(row)

('id', 'Movie_name', 'Star1', 'Star2', 'Star3', 'Star4', 'Votes', 'Genre1', 'Genre2', 'Genre3', 'Gross_collection', 'Popularity', 'Certificates\n')
(0, 'The Dark Knight', 'Christian Bale', ' Heath Ledger', ' Aaron Eckhart', ' Michael Caine', '"2717319"', 'Action', ' Crime', 'Drama', '$534.86M', 9, 'UA\n')
(1, 'The Lord of the Rings:TROK', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom', '"1886502"', 'Action', ' Adventure', 'Drama', '$377.85M', 9, 'U\n')
(2, 'Inception', ' Leonardo DiCaprio', ' Joseph Gordon-Levitt', ' Elliot Page', ' Ken Watanabe', '"2412114"', 'Action', ' Adventure', ' Sci-Fi', '$292.58M', 8.8, 'UA\n')
(3, 'The Lord of the Rings:TFOR', ' Elijah Wood', ' Ian McKellen', 'Orlando Bloom', 'Sean Bean', '1915211', 'Action', 'Adventure', ' Drama', '$315.54M', 8.8, 'U\n')
(4, 'The Lord of the Rings:TTT', 'Elijah Wood', ' Ian McKellen', ' Viggo Mortensen', ' Orlando Bloom', '"1702799"', 'Action', ' Adventure', ' Drama', '$342.55M', 8.8, 'UA\n')
(5, 'The Matrix', 'Keanu Reeves', ' Laurence Fishburne', ' Carrie-Anne Moss', ' Hugo Weaving', '"1957142"', 'Action', ' Sci-Fi', 'NONE', '$171.48M', 8.7, 'A\n')
(6, 'Star Wars:EpiV-TESB', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams', '"1320682"', 'Action', 'Adventure', 'Fantasy', '$290.48M', 8.7, 'UA\n')
(7, 'Soorarai Pottru', 'Suriya', ' Paresh Rawal', ' Aparna Balamurali', ' Urvashi', '"119466"', 'Action', ' Drama ', 'NONE', '******', 8.7, 'U\n')
(8, 'Star Wars', 'Mark Hamill', ' Harrison Ford', ' Carrie Fisher', ' Alec Guinness', '"1393133"', 'Action', ' Adventure', ' Fantasy', '$322.74M', 8.6, 'U\n')
(9, 'Terminator 2:Judgment Day', 'Arnold Schwarzenegger', ' Linda Hamilton', 'Edward Furlong', 'Robert Patrick', '"1122657"', 'Action', ' Sci-Fi', 'NONE', '$204.84M', 8.6, 'A\n')
(10, 'Shichinin no samurai', 'ToshirÃ´ Mifune', ' Takashi Shimura', ' Keiko Tsushima', ' Yukiko Shimazaki', '"352734"', ' Action', ' Drama', 'NONE', '$0.27M', 8.6, 'U\n')
(11, 'Seppuku', 'Tatsuya Nakadai', ' Akira Ishihama', ' Shima Iwashita', ' TetsurÃ´ Tanba', '"60929"', ' Action', ' Drama', ' Mystery', '******', 8.6, 'U\n')
(12, 'Sita Ramam', 'Dulquer Salmaan', ' Mrunal Thakur', ' Rashmika Mandanna', ' Sumanth', '"59782"', ' Action', ' Drama', ' Mystery', '******', 8.6, 'U\n')
(13, 'LÃ©on', 'Jean Reno', ' Gary Oldman', ' Natalie Portman', ' Danny Aiello', '"1188964"', ' Action', ' Crime', ' Drama', '$19.50M', 8.5, 'A\n')
(14, 'Gladiator', 'Russell Crowe', ' Joaquin Phoenix', ' Connie Nielsen', ' Oliver Reed', '"1535664"', ' Action', ' Adventure', ' Drama', '$187.71M', 8.5, 'UA\n')
(15, 'Spider-Man:ITSV', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali', '"564166"', 'Animation', ' Action', ' Adventure', '$190.24M', 8.4, 'U\n')
(16, 'Avengers: Endgame', 'Robert Downey Jr.', ' Chris Evans', ' Mark Ruffalo', ' Chris Hemsworth', '"1179251"', 'Action', ' Adventure', ' Drama', '$858.37M', 8.4, 'UA\n')
(17, 'Raiders of the Lost Ark', 'Harrison Ford', ' Karen Allen', ' Paul Freeman', ' John Rhys-Davies', '"985863"', 'Action', ' Adventure', 'NONE', '$248.16M', 8.4, 'A\n')
(18, 'Avengers: Infinity War', 'Robert Downey Jr.', ' Chris Hemsworth', ' Mark Ruffalo', ' Chris Evans', '"1122684"', 'Action', ' Adventure', ' Sci-Fi', '$678.82M', 8.4, 'UA\n')
(19, 'Oldeuboi', ' Choi Min-sik', ' Yoo Ji-tae', ' Kang Hye-jeong', ' Kim Byeong-Ok', '"596132"', 'Action', ' Drama', ' Mystery', '$0.71M', 8.4, 'A\n')
(20, 'The Dark Knight Rises', 'Christian Bale', ' Tom Hardy', ' Anne Hathaway', ' Gary Oldman', '"1741027"', ' Action', ' Drama', ' Thriller', '$448.14M', 8.4, 'UA\n')
(21, 'Aliens', 'Sigourney Weaver', ' Michael Biehn', ' Carrie Henn', ' Paul Reiser', '"732285"', ' Action', ' Adventure', ' Sci-Fi', '$85.16M', 8.4, 'U\n')
(22, 'Kaithi', 'Karthi', ' Narain', ' Arjun Das', ' George Maryan', '"36056"', ' Action', ' Adventure', ' Crime', '******', 8.4, 'UA\n')
(23, 'Asuran', 'Dhanush', ' Manju Warrier', ' Prakash Raj', ' Pasupathy', '"31173"', ' Action', ' Drama', 'NONE', '******', 8.4, 'UA\n')
(24, 'Top Gun: Maverick', 'Tom Cruise', ' Jennifer Connelly', ' Miles Teller', ' Val Kilmer', '"588380"', ' Action', ' Drama', 'NONE', '$718.73M', 8.3, 'UA\n')
(25, 'Heat', 'Al Pacino', ' Robert De Niro', ' Val Kilmer', 'Jon Voight', '"675671"', ' Action', ' Crime', ' Drama', '$67.44M', 8.3, 'A\n')
(26, 'Star Wars:EpVI-ROTJ', 'Mark Hamill', ' Harrison Ford', ' Carrie Fisher', ' Billy Dee Williams', '"1077221"', 'Action', 'Adventure', ' Fantasy', '$309.13M', 8.3, 'U\n')
(27, 'Mononoke-hime', 'YÃ´ji Matsuda', ' Yuriko Ishida', ' YÃ»ko Tanaka', ' Billy Crudup', '"406592"', ' Animation', ' Action', ' Adventure', '$2.38M', 8.3, 'U\n')
(28, 'North by Northwest', 'Cary Grant', ' Eva Marie Saint', ' James Mason', ' Jessie Royce Landis', '"334484"', ' Action', ' Adventure', ' Mystery', '$13.28M', 8.3, 'U\n')
(29, 'Kantara', 'Rishab Shetty', ' Kishore Kumar G.', ' Achyuth Kumar', ' Sapthami Gowda', '"95370"', ' Action', ' Adventure', ' Drama', '******', 8.3, 'UA\n')
(30, 'Dangal', 'Aamir Khan', ' Sakshi Tanwar', ' Fatima Sana Shaikh', ' Sanya Malhotra', '"197247"', ' Action', ' Biography', ' Drama', '$12.39M', 8.3, 'U\n')
(31, 'K.G.F: Chapter 2', 'Yash', ' Sanjay Dutt', ' Raveena Tandon', ' Srinidhi Shetty', '"139566"', ' Action', ' Crime', ' Drama', '$6.60M', 8.3, 'UA\n')
(32, 'Vikram', 'Kamal Haasan', ' Vijay Sethupathi', ' Fahadh Faasil', ' Narain', '"63788"', ' Action', ' Crime', ' Thriller', '******', 8.3, 'UA\n')
(33, 'Ratsasan', 'Vishnu Vishal', ' Amala Paul', ' Radha Ravi', ' Sangili Murugan', '"46916"', ' Action', ' Crime', ' Drama', '******', 8.3, 'UA\n')
(34, 'Shershaah', 'Sidharth Malhotra', ' Kiara Advani', ' Shiv Panditt', ' Pranay Pachauri', '"124754"', ' Action', ' Biography', ' Drama', '******', 8.3, 'UA\n')
(35, 'Guardians of the Galaxy Vol3', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', ' Pom Klementieff', '"144416"', ' Action', ' Adventure', ' Comedy', '******', 8.2, 'UA\n')
(36, 'Spider-Man: No Way Home', 'Tom Holland', ' Zendaya', ' Benedict Cumberbatch', ' Jacob Batalon', '"796341"', ' Action', ' Adventure', ' Fantasy', '$804.75M', 8.2, 'UA\n')
(37, 'Jurassic Park', 'Sam Neill', ' Laura Dern', ' Jeff Goldblum', ' Richard Attenborough', '"1013513"', ' Action', 'Adventure', ' Sci-Fi', '$402.45M', 8.2, 'UA\n')
(38, 'Indiana Jones and the Last Crusade', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott', '770854', 'Action', 'Adventure', 'NONE', '$197.17M', 8.2, 'U\n')
(39, '1917', 'Dean-Charles Chapman', ' George MacKay', ' Daniel Mays', ' Colin Firth', '"620581"', 'Action', ' Drama', ' War', '$159.23M', 8.2, 'R\n')
(40, 'Kill Bill: Vol. 1', 'Uma Thurman', ' David Carradine', ' Daryl Hannah', ' Michael Madsen', '"1140449"', ' Action', ' Crime', ' Drama', '$70.10M', 8.2, 'A\n')
(41, 'Batman Begins', 'Christian Bale', ' Michael Caine', ' Ken Watanabe', ' Liam Neeson', '"1502790"', ' Action', ' Crime', ' Drama', '$206.85M', 8.2, 'UA\n')
(42, 'Die Hard', 'Bruce Willis', ' Alan Rickman', ' Bonnie Bedelia', ' Reginald VelJohnson', '"901094"', ' Action', 'Thriller', 'NONE', '$83.01M', 8.2, 'A\n')
(43, 'V for Vendetta', 'Hugo Weaving', ' Natalie Portman', ' Rupert Graves', ' Stephen Rea', '"1140496"', ' Action', ' Drama', ' Sci-Fi', '$70.51M', 8.2, 'UA\n')
(44, 'Kimetsu no Yaiba:Mugen R-H', 'Natsuki Hanae', 'Akari KitÃ´', 'Yoshitsugu Matsuoka', 'Hiro Shimono', '64286', 'Animation', 'Action', ' Adventure', '$47.70M', 8.2, 'UA\n')
(45, 'Ran', 'Tatsuya Nakadai', ' Akira Terao', ' Jinpachi Nezu', ' Daisuke RyÃ»', '"129098"', ' Action', ' Drama', ' War', '$4.14M', 8.2, 'Not Rated\n')
(46, 'Gangs of Wasseypur', 'Manoj Bajpayee', ' Nawazuddin Siddiqui', ' Tigmanshu Dhulia', ' Richa Chadha', '"99318"', ' Action', ' Comedy', 'Crime', '******', 8.2, 'A\n')
(47, 'Vikram Vedha', 'Madhavan', ' Vijay Sethupathi', ' Shraddha Srinath', ' Kathir', '"47616"', ' Action', ' Crime', ' Drama', '******', 8.2, 'UA\n')
(48, 'Baahubali 2: The Conclusion', 'Prabhas', ' Rana Daggubati', ' Anushka Shetty', ' Tamannaah Bhatia', '"106656"', ' Action', ' Drama', 'NONE', '$20.19M', 8.2, 'UA\n')
(49, 'YÃ´jinbÃ´', 'ToshirÃ´ Mifune', ' EijirÃ´ TÃ´no', ' Tatsuya Nakadai', ' YÃ´ko Tsukasa', '"125833"', ' Action', ' Drama', ' Thriller', '******', 8.2, 'U\n')

# Q.1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [18]:
result = cur.execute("SELECT * FROM IMDB_DATA10 WHERE star1 = 'Christian Bale'")
result.fetchone()

(0,
 'The Dark Knight',
 'Christian Bale',
 ' Heath Ledger',
 ' Aaron Eckhart',
 ' Michael Caine',
 '"2717319"',
 'Action',
 ' Crime',
 'Drama',
 '$534.86M',
 9,
 'UA\n')

In [19]:
result = cur.execute("SELECT * FROM IMDB_DATA10 WHERE star1 = 'Christian Bale' ORDER BY Movie_name DESC")
result.fetchall()

[(20,
  'The Dark Knight Rises',
  'Christian Bale',
  ' Tom Hardy',
  ' Anne Hathaway',
  ' Gary Oldman',
  '"1741027"',
  ' Action',
  ' Drama',
  ' Thriller',
  '$448.14M',
  8.4,
  'UA\n'),
 (0,
  'The Dark Knight',
  'Christian Bale',
  ' Heath Ledger',
  ' Aaron Eckhart',
  ' Michael Caine',
  '"2717319"',
  'Action',
  ' Crime',
  'Drama',
  '$534.86M',
  9,
  'UA\n'),
 (41,
  'Batman Begins',
  'Christian Bale',
  ' Michael Caine',
  ' Ken Watanabe',
  ' Liam Neeson',
  '"1502790"',
  ' Action',
  ' Crime',
  ' Drama',
  '$206.85M',
  8.2,
  'UA\n')]

In [20]:
result = cur.execute("SELECT * FROM IMDB_DATA10 WHERE star1 = 'Arnold Schwarzenegger' ORDER BY Movie_name DESC")
result.fetchone()

(9,
 'Terminator 2:Judgment Day',
 'Arnold Schwarzenegger',
 ' Linda Hamilton',
 'Edward Furlong',
 'Robert Patrick',
 '"1122657"',
 'Action',
 ' Sci-Fi',
 'NONE',
 '$204.84M',
 8.6,
 'A\n')

In [21]:
result = cur.execute("SELECT * FROM IMDB_DATA10 WHERE star1 = 'Arnold Schwarzenegger' ORDER BY Movie_name DESC")
result.fetchall()

[(9,
  'Terminator 2:Judgment Day',
  'Arnold Schwarzenegger',
  ' Linda Hamilton',
  'Edward Furlong',
  'Robert Patrick',
  '"1122657"',
  'Action',
  ' Sci-Fi',
  'NONE',
  '$204.84M',
  8.6,
  'A\n')]

In [22]:
result = cur.execute("SELECT * FROM IMDB_DATA10 WHERE Ratings=9")
result.fetchall()

[(0,
  'The Dark Knight',
  'Christian Bale',
  ' Heath Ledger',
  ' Aaron Eckhart',
  ' Michael Caine',
  '"2717319"',
  'Action',
  ' Crime',
  'Drama',
  '$534.86M',
  9,
  'UA\n'),
 (1,
  'The Lord of the Rings:TROK',
  'Elijah Wood',
  'Viggo Mortensen',
  'Ian McKellen',
  'Orlando Bloom',
  '"1886502"',
  'Action',
  ' Adventure',
  'Drama',
  '$377.85M',
  9,
  'U\n')]

# Q2) Display all details of the movie with the highest number of votes.

In [23]:
#Maximum votes
result = cur.execute("SELECT MAX(votes) FROM IMDB_DATA10")
print ('Maximum Votes =', result.fetchone())

Maximum Votes = ('NONE',)

In [25]:
#Manimum votes
result = cur.execute("SELECT MIN(votes) FROM IMDB_DATA10")
print ('Manimum Votes =', result.fetchone())

Manimum Votes = (' Adventure',)

In [26]:
result = cur.execute("SELECT * FROM IMDB_DATA10 WHERE Votes=2717319")
result.fetchone()

In [28]:
sql = "SELECT * FROM IMDB_DATA10 WHERE movie_name "
result = cur.execute(sql)
for row in result:
    print(row)

(39, '1917', 'Dean-Charles Chapman', ' George MacKay', ' Daniel Mays', ' Colin Firth', '"620581"', 'Action', ' Drama', ' War', '$159.23M', 8.2, 'R\n')

# Q3) Display movie names with gross collections in descending order

In [32]:
# How to change the order of records(Increasing or decreasing)
result = cur.execute("SELECT Movie_name, Gross_collection FROM IMDB_DATA10 ORDER BY movie_name desc")
for row in result:
    print(row)

('YÃ´jinbÃ´', '******')
('Vikram Vedha', '******')
('Vikram', '******')
('V for Vendetta', '$70.51M')
('Top Gun: Maverick', '$718.73M')
('The Matrix', '$171.48M')
('The Lord of the Rings:TTT', '$342.55M')
('The Lord of the Rings:TROK', '$377.85M')
('The Lord of the Rings:TFOR', '$315.54M')
('The Dark Knight Rises', '$448.14M')
('The Dark Knight', '$534.86M')
('Terminator 2:Judgment Day', '$204.84M')
('Star Wars:EpiV-TESB', '$290.48M')
('Star Wars:EpVI-ROTJ', '$309.13M')
('Star Wars', '$322.74M')
('Spider-Man:ITSV', '$190.24M')
('Spider-Man: No Way Home', '$804.75M')
('Soorarai Pottru', '******')
('Sita Ramam', '******')
('Shichinin no samurai', '$0.27M')
('Shershaah', '******')
('Seppuku', '******')
('Ratsasan', '******')
('Ran', '$4.14M')
('Raiders of the Lost Ark', '$248.16M')
('Oldeuboi', '$0.71M')
('North by Northwest', '$13.28M')
('Movie_name', 'Gross_collection')
('Mononoke-hime', '$2.38M')
('LÃ©on', '$19.50M')
('Kimetsu no Yaiba:Mugen R-H', '$47.70M')
('Kill Bill: Vol. 1', '$70.10M')
('Kantara', '******')
('Kaithi', '******')
('K.G.F: Chapter 2', '$6.60M')
('Jurassic Park', '$402.45M')
('Indiana Jones and the Last Crusade', '$197.17M')
('Inception', '$292.58M')
('Heat', '$67.44M')
('Guardians of the Galaxy Vol3', '******')
('Gladiator', '$187.71M')
('Gangs of Wasseypur', '******')
('Die Hard', '$83.01M')
('Dangal', '$12.39M')
('Batman Begins', '$206.85M')
('Baahubali 2: The Conclusion', '$20.19M')
('Avengers: Infinity War', '$678.82M')
('Avengers: Endgame', '$858.37M')
('Asuran', '******')
('Aliens', '$85.16M')
('1917', '$159.23M')

In [29]:
query3 = cur.execute("SELECT * FROM IMDB_DATA10 ORDER BY Gross_collection desc")
for row in query3:
    print(row)

('id', 'Movie_name', 'Star1', 'Star2', 'Star3', 'Star4', 'Votes', 'Genre1', 'Genre2', 'Genre3', 'Gross_collection', 'Popularity', 'Certificates\n')
(7, 'Soorarai Pottru', 'Suriya', ' Paresh Rawal', ' Aparna Balamurali', ' Urvashi', '"119466"', 'Action', ' Drama ', 'NONE', '******', 8.7, 'U\n')
(11, 'Seppuku', 'Tatsuya Nakadai', ' Akira Ishihama', ' Shima Iwashita', ' TetsurÃ´ Tanba', '"60929"', ' Action', ' Drama', ' Mystery', '******', 8.6, 'U\n')
(12, 'Sita Ramam', 'Dulquer Salmaan', ' Mrunal Thakur', ' Rashmika Mandanna', ' Sumanth', '"59782"', ' Action', ' Drama', ' Mystery', '******', 8.6, 'U\n')
(22, 'Kaithi', 'Karthi', ' Narain', ' Arjun Das', ' George Maryan', '"36056"', ' Action', ' Adventure', ' Crime', '******', 8.4, 'UA\n')
(23, 'Asuran', 'Dhanush', ' Manju Warrier', ' Prakash Raj', ' Pasupathy', '"31173"', ' Action', ' Drama', 'NONE', '******', 8.4, 'UA\n')
(29, 'Kantara', 'Rishab Shetty', ' Kishore Kumar G.', ' Achyuth Kumar', ' Sapthami Gowda', '"95370"', ' Action', ' Adventure', ' Drama', '******', 8.3, 'UA\n')
(32, 'Vikram', 'Kamal Haasan', ' Vijay Sethupathi', ' Fahadh Faasil', ' Narain', '"63788"', ' Action', ' Crime', ' Thriller', '******', 8.3, 'UA\n')
(33, 'Ratsasan', 'Vishnu Vishal', ' Amala Paul', ' Radha Ravi', ' Sangili Murugan', '"46916"', ' Action', ' Crime', ' Drama', '******', 8.3, 'UA\n')
(34, 'Shershaah', 'Sidharth Malhotra', ' Kiara Advani', ' Shiv Panditt', ' Pranay Pachauri', '"124754"', ' Action', ' Biography', ' Drama', '******', 8.3, 'UA\n')
(35, 'Guardians of the Galaxy Vol3', 'Chris Pratt', 'Chukwudi Iwuji', 'Bradley Cooper', ' Pom Klementieff', '"144416"', ' Action', ' Adventure', ' Comedy', '******', 8.2, 'UA\n')
(46, 'Gangs of Wasseypur', 'Manoj Bajpayee', ' Nawazuddin Siddiqui', ' Tigmanshu Dhulia', ' Richa Chadha', '"99318"', ' Action', ' Comedy', 'Crime', '******', 8.2, 'A\n')
(47, 'Vikram Vedha', 'Madhavan', ' Vijay Sethupathi', ' Shraddha Srinath', ' Kathir', '"47616"', ' Action', ' Crime', ' Drama', '******', 8.2, 'UA\n')
(49, 'YÃ´jinbÃ´', 'ToshirÃ´ Mifune', ' EijirÃ´ TÃ´no', ' Tatsuya Nakadai', ' YÃ´ko Tsukasa', '"125833"', ' Action', ' Drama', ' Thriller', '******', 8.2, 'U\n')
(16, 'Avengers: Endgame', 'Robert Downey Jr.', ' Chris Evans', ' Mark Ruffalo', ' Chris Hemsworth', '"1179251"', 'Action', ' Adventure', ' Drama', '$858.37M', 8.4, 'UA\n')
(21, 'Aliens', 'Sigourney Weaver', ' Michael Biehn', ' Carrie Henn', ' Paul Reiser', '"732285"', ' Action', ' Adventure', ' Sci-Fi', '$85.16M', 8.4, 'U\n')
(42, 'Die Hard', 'Bruce Willis', ' Alan Rickman', ' Bonnie Bedelia', ' Reginald VelJohnson', '"901094"', ' Action', 'Thriller', 'NONE', '$83.01M', 8.2, 'A\n')
(36, 'Spider-Man: No Way Home', 'Tom Holland', ' Zendaya', ' Benedict Cumberbatch', ' Jacob Batalon', '"796341"', ' Action', ' Adventure', ' Fantasy', '$804.75M', 8.2, 'UA\n')
(24, 'Top Gun: Maverick', 'Tom Cruise', ' Jennifer Connelly', ' Miles Teller', ' Val Kilmer', '"588380"', ' Action', ' Drama', 'NONE', '$718.73M', 8.3, 'UA\n')
(43, 'V for Vendetta', 'Hugo Weaving', ' Natalie Portman', ' Rupert Graves', ' Stephen Rea', '"1140496"', ' Action', ' Drama', ' Sci-Fi', '$70.51M', 8.2, 'UA\n')
(40, 'Kill Bill: Vol. 1', 'Uma Thurman', ' David Carradine', ' Daryl Hannah', ' Michael Madsen', '"1140449"', ' Action', ' Crime', ' Drama', '$70.10M', 8.2, 'A\n')
(18, 'Avengers: Infinity War', 'Robert Downey Jr.', ' Chris Hemsworth', ' Mark Ruffalo', ' Chris Evans', '"1122684"', 'Action', ' Adventure', ' Sci-Fi', '$678.82M', 8.4, 'UA\n')
(25, 'Heat', 'Al Pacino', ' Robert De Niro', ' Val Kilmer', 'Jon Voight', '"675671"', ' Action', ' Crime', ' Drama', '$67.44M', 8.3, 'A\n')
(31, 'K.G.F: Chapter 2', 'Yash', ' Sanjay Dutt', ' Raveena Tandon', ' Srinidhi Shetty', '"139566"', ' Action', ' Crime', ' Drama', '$6.60M', 8.3, 'UA\n')
(0, 'The Dark Knight', 'Christian Bale', ' Heath Ledger', ' Aaron Eckhart', ' Michael Caine', '"2717319"', 'Action', ' Crime', 'Drama', '$534.86M', 9, 'UA\n')
(44, 'Kimetsu no Yaiba:Mugen R-H', 'Natsuki Hanae', 'Akari KitÃ´', 'Yoshitsugu Matsuoka', 'Hiro Shimono', '64286', 'Animation', 'Action', ' Adventure', '$47.70M', 8.2, 'UA\n')
(20, 'The Dark Knight Rises', 'Christian Bale', ' Tom Hardy', ' Anne Hathaway', ' Gary Oldman', '"1741027"', ' Action', ' Drama', ' Thriller', '$448.14M', 8.4, 'UA\n')
(37, 'Jurassic Park', 'Sam Neill', ' Laura Dern', ' Jeff Goldblum', ' Richard Attenborough', '"1013513"', ' Action', 'Adventure', ' Sci-Fi', '$402.45M', 8.2, 'UA\n')
(45, 'Ran', 'Tatsuya Nakadai', ' Akira Terao', ' Jinpachi Nezu', ' Daisuke RyÃ»', '"129098"', ' Action', ' Drama', ' War', '$4.14M', 8.2, 'Not Rated\n')
(1, 'The Lord of the Rings:TROK', 'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen', 'Orlando Bloom', '"1886502"', 'Action', ' Adventure', 'Drama', '$377.85M', 9, 'U\n')
(4, 'The Lord of the Rings:TTT', 'Elijah Wood', ' Ian McKellen', ' Viggo Mortensen', ' Orlando Bloom', '"1702799"', 'Action', ' Adventure', ' Drama', '$342.55M', 8.8, 'UA\n')
(8, 'Star Wars', 'Mark Hamill', ' Harrison Ford', ' Carrie Fisher', ' Alec Guinness', '"1393133"', 'Action', ' Adventure', ' Fantasy', '$322.74M', 8.6, 'U\n')
(3, 'The Lord of the Rings:TFOR', ' Elijah Wood', ' Ian McKellen', 'Orlando Bloom', 'Sean Bean', '1915211', 'Action', 'Adventure', ' Drama', '$315.54M', 8.8, 'U\n')
(26, 'Star Wars:EpVI-ROTJ', 'Mark Hamill', ' Harrison Ford', ' Carrie Fisher', ' Billy Dee Williams', '"1077221"', 'Action', 'Adventure', ' Fantasy', '$309.13M', 8.3, 'U\n')
(2, 'Inception', ' Leonardo DiCaprio', ' Joseph Gordon-Levitt', ' Elliot Page', ' Ken Watanabe', '"2412114"', 'Action', ' Adventure', ' Sci-Fi', '$292.58M', 8.8, 'UA\n')
(6, 'Star Wars:EpiV-TESB', 'Mark Hamill', 'Harrison Ford', 'Carrie Fisher', 'Billy Dee Williams', '"1320682"', 'Action', 'Adventure', 'Fantasy', '$290.48M', 8.7, 'UA\n')
(17, 'Raiders of the Lost Ark', 'Harrison Ford', ' Karen Allen', ' Paul Freeman', ' John Rhys-Davies', '"985863"', 'Action', ' Adventure', 'NONE', '$248.16M', 8.4, 'A\n')
(41, 'Batman Begins', 'Christian Bale', ' Michael Caine', ' Ken Watanabe', ' Liam Neeson', '"1502790"', ' Action', ' Crime', ' Drama', '$206.85M', 8.2, 'UA\n')
(9, 'Terminator 2:Judgment Day', 'Arnold Schwarzenegger', ' Linda Hamilton', 'Edward Furlong', 'Robert Patrick', '"1122657"', 'Action', ' Sci-Fi', 'NONE', '$204.84M', 8.6, 'A\n')
(48, 'Baahubali 2: The Conclusion', 'Prabhas', ' Rana Daggubati', ' Anushka Shetty', ' Tamannaah Bhatia', '"106656"', ' Action', ' Drama', 'NONE', '$20.19M', 8.2, 'UA\n')
(27, 'Mononoke-hime', 'YÃ´ji Matsuda', ' Yuriko Ishida', ' YÃ»ko Tanaka', ' Billy Crudup', '"406592"', ' Animation', ' Action', ' Adventure', '$2.38M', 8.3, 'U\n')
(38, 'Indiana Jones and the Last Crusade', 'Harrison Ford', 'Sean Connery', 'Alison Doody', 'Denholm Elliott', '770854', 'Action', 'Adventure', 'NONE', '$197.17M', 8.2, 'U\n')
(15, 'Spider-Man:ITSV', 'Shameik Moore', 'Jake Johnson', 'Hailee Steinfeld', 'Mahershala Ali', '"564166"', 'Animation', ' Action', ' Adventure', '$190.24M', 8.4, 'U\n')
(13, 'LÃ©on', 'Jean Reno', ' Gary Oldman', ' Natalie Portman', ' Danny Aiello', '"1188964"', ' Action', ' Crime', ' Drama', '$19.50M', 8.5, 'A\n')
(14, 'Gladiator', 'Russell Crowe', ' Joaquin Phoenix', ' Connie Nielsen', ' Oliver Reed', '"1535664"', ' Action', ' Adventure', ' Drama', '$187.71M', 8.5, 'UA\n')
(5, 'The Matrix', 'Keanu Reeves', ' Laurence Fishburne', ' Carrie-Anne Moss', ' Hugo Weaving', '"1957142"', 'Action', ' Sci-Fi', 'NONE', '$171.48M', 8.7, 'A\n')
(39, '1917', 'Dean-Charles Chapman', ' George MacKay', ' Daniel Mays', ' Colin Firth', '"620581"', 'Action', ' Drama', ' War', '$159.23M', 8.2, 'R\n')
(28, 'North by Northwest', 'Cary Grant', ' Eva Marie Saint', ' James Mason', ' Jessie Royce Landis', '"334484"', ' Action', ' Adventure', ' Mystery', '$13.28M', 8.3, 'U\n')
(30, 'Dangal', 'Aamir Khan', ' Sakshi Tanwar', ' Fatima Sana Shaikh', ' Sanya Malhotra', '"197247"', ' Action', ' Biography', ' Drama', '$12.39M', 8.3, 'U\n')
(19, 'Oldeuboi', ' Choi Min-sik', ' Yoo Ji-tae', ' Kang Hye-jeong', ' Kim Byeong-Ok', '"596132"', 'Action', ' Drama', ' Mystery', '$0.71M', 8.4, 'A\n')
(10, 'Shichinin no samurai', 'ToshirÃ´ Mifune', ' Takashi Shimura', ' Keiko Tsushima', ' Yukiko Shimazaki', '"352734"', ' Action', ' Drama', 'NONE', '$0.27M', 8.6, 'U\n')

In [30]:
# How to change the order of records(Increasing or decreasing)
result = cur.execute("SELECT Gross_collection FROM IMDB_DATA10 ORDER BY movie_name asc")
for row in result:
    print(row)

('$159.23M',)
('$85.16M',)
('******',)
('$858.37M',)
('$678.82M',)
('$20.19M',)
('$206.85M',)
('$12.39M',)
('$83.01M',)
('******',)
('$187.71M',)
('******',)
('$67.44M',)
('$292.58M',)
('$197.17M',)
('$402.45M',)
('$6.60M',)
('******',)
('******',)
('$70.10M',)
('$47.70M',)
('$19.50M',)
('$2.38M',)
('Gross_collection',)
('$13.28M',)
('$0.71M',)
('$248.16M',)
('$4.14M',)
('******',)
('******',)
('******',)
('$0.27M',)
('******',)
('******',)
('$804.75M',)
('$190.24M',)
('$322.74M',)
('$309.13M',)
('$290.48M',)
('$204.84M',)
('$534.86M',)
('$448.14M',)
('$315.54M',)
('$377.85M',)
('$342.55M',)
('$171.48M',)
('$718.73M',)
('$70.51M',)
('******',)
('******',)
('******',)

In [31]:
# How to change the order of records(Increasing or decreasing)
result = cur.execute("SELECT Movie_name,Gross_collection FROM IMDB_DATA10 ORDER BY movie_name asc")
for row in result:
    print(row)

('1917', '$159.23M')
('Aliens', '$85.16M')
('Asuran', '******')
('Avengers: Endgame', '$858.37M')
('Avengers: Infinity War', '$678.82M')
('Baahubali 2: The Conclusion', '$20.19M')
('Batman Begins', '$206.85M')
('Dangal', '$12.39M')
('Die Hard', '$83.01M')
('Gangs of Wasseypur', '******')
('Gladiator', '$187.71M')
('Guardians of the Galaxy Vol3', '******')
('Heat', '$67.44M')
('Inception', '$292.58M')
('Indiana Jones and the Last Crusade', '$197.17M')
('Jurassic Park', '$402.45M')
('K.G.F: Chapter 2', '$6.60M')
('Kaithi', '******')
('Kantara', '******')
('Kill Bill: Vol. 1', '$70.10M')
('Kimetsu no Yaiba:Mugen R-H', '$47.70M')
('LÃ©on', '$19.50M')
('Mononoke-hime', '$2.38M')
('Movie_name', 'Gross_collection')
('North by Northwest', '$13.28M')
('Oldeuboi', '$0.71M')
('Raiders of the Lost Ark', '$248.16M')
('Ran', '$4.14M')
('Ratsasan', '******')
('Seppuku', '******')
('Shershaah', '******')
('Shichinin no samurai', '$0.27M')
('Sita Ramam', '******')
('Soorarai Pottru', '******')
('Spider-Man: No Way Home', '$804.75M')
('Spider-Man:ITSV', '$190.24M')
('Star Wars', '$322.74M')
('Star Wars:EpVI-ROTJ', '$309.13M')
('Star Wars:EpiV-TESB', '$290.48M')
('Terminator 2:Judgment Day', '$204.84M')
('The Dark Knight', '$534.86M')
('The Dark Knight Rises', '$448.14M')
('The Lord of the Rings:TFOR', '$315.54M')
('The Lord of the Rings:TROK', '$377.85M')
('The Lord of the Rings:TTT', '$342.55M')
('The Matrix', '$171.48M')
('Top Gun: Maverick', '$718.73M')
('V for Vendetta', '$70.51M')
('Vikram', '******')
('Vikram Vedha', '******')
('YÃ´jinbÃ´', '******')

# Q4) Display the gross collection of movies with the star Arnold.

In [34]:
query4 = cur.execute("SELECT Movie_name,Gross_collection FROM IMDB_DATA10 ORDER BY Gross_collection DESC LIMIT 20")
for row in result:
    print(row)

('Movie_name', 'Gross_collection')
('Soorarai Pottru', '******')
('Seppuku', '******')
('Sita Ramam', '******')
('Kaithi', '******')
('Asuran', '******')
('Kantara', '******')
('Vikram', '******')
('Ratsasan', '******')
('Shershaah', '******')
('Guardians of the Galaxy Vol3', '******')
('Gangs of Wasseypur', '******')
('Vikram Vedha', '******')
('YÃ´jinbÃ´', '******')
('Avengers: Endgame', '$858.37M')
('Aliens', '$85.16M')
('Die Hard', '$83.01M')
('Spider-Man: No Way Home', '$804.75M')
('Top Gun: Maverick', '$718.73M')
('V for Vendetta', '$70.51M')

In [38]:
query4 = cur.execute("SELECT Movie_name,Gross_collection FROM IMDB_DATA10 WHERE Star1== 'Arnold'")
for row in query4:
    print(row)

# Q.5) Display all details of movies with comedy and action genres.

In [41]:
query5 =cur.execute("SELECT Movie_name FROM IMDB_DATA10 WHERE Genre1== 'Action' OR Genre2 == 'Comedy'")
for row in result:
    print(row)

In [42]:
result =cur.execute("SELECT Movie_name,Genre1,Genre2 FROM IMDB_DATA10 WHERE Genre1== 'Action' OR Genre2 == 'Comedy'")
for row in result:
    print(row)

In [43]:
result =cur.execute("SELECT * FROM IMDB_DATA10 WHERE Genre1== 'Action' OR Genre2 == 'Comedy'")
for row in result:
    print(row)

In [45]:
result =cur.execute("SELECT * FROM IMDB_DATA10 WHERE Genre1== 'Action'")
for row in result:
    print(row)