# SQLite Capstone-Project Phase 1

In [1]:
import sqlite3

Create Database

In [4]:
db = sqlite3.connect('imdbmoviesdata_database.db')

create cursor

In [5]:
cur = db.cursor()

In [6]:
cur.execute('create table imdbmoviesdata(sno int primary key,movie_name text,director_1 text,director_2 text,duration int,year int,ratings int,metascore int)')

# Inserting Records from csv File

In [7]:
with open('imdbmoviesdata.csv','r') as file:
    total_records = 0
    for row in file:
        cur.execute("insert into imdbmoviesdata values(?,?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted in table')

51 Records inserted in table

In [8]:
result = cur.execute("SELECT * FROM imdbmoviesdata")
for row in result:
    print(row)

('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 82)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, '^^^^^^^\n')
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 90)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 98)
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 85)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, '^^^^^^^\n')
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 64)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 67)
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 78)
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 87)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 85)
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 68)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 77)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 84)
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, '^^^^^^^\n')
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, '^^^^^^^\n')
(25, 'Heat', '1995', 'Michael Mann', 'NAN', '170 min', 8.3, 76)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 78)
(27, 'Star Wars: Episode VI - Return of the Jedi', '1983', 'Richard Marquand', 'NAN', '131 min', 8.3, 58)
(28, 'Mononoke-hime', '1997', 'Hayao Miyazaki', 'NAN', '134 min', 8.3, 76)
(29, 'North by Northwest', '1959', 'Alfred Hitchcock', 'NAN', '136 min', 8.3, 98)
(30, 'Kantara', '2022', 'Rishab Shetty', 'NAN', '148 min', 8.3, '^^^^^^^\n')
(31, 'Dangal', '2016', 'Nitesh Tiwari', 'NAN', '161 min', 8.3, '^^^^^^^\n')
(32, 'K.G.F: Chapter 2', '2022', 'Prashanth Neel', 'NAN', '168 min', 8.3, '^^^^^^^\n')
(33, 'Vikram', '2022', 'Lokesh Kanagaraj', 'NAN', '175 min', 8.3, '^^^^^^^\n')
(34, 'Ratsasan', '2018', 'Ram Kumar', 'NAN', '170 min', 8.3, '^^^^^^^\n')
(35, 'Shershaah', '2021', 'Vishnuvardhan', 'NAN', '135 min', 8.3, '^^^^^^^\n')
(36, 'Guardians of the Galaxy Vol. 3', '2023', 'James Gunn', 'NAN', '150 min', 8.2, 64)
(37, 'Spider-Man: No Way Home', '2021', 'Jon Watts', 'NAN', '148 min', 8.2, 71)
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 68)
(39, '1917', '2019', 'Sam Mendes', 'NAN', '119 min', 8.2, 78)
(40, 'Kill Bill: Vol. 1', '2003', 'Quentin Tarantino', 'NAN', '111 min', 8.2, 69)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 65)
(42, 'Batman Begins', '2005', 'Christopher Nolan', 'NAN', '140 min', 8.2, 70)
(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 72)
(44, 'V for Vendetta', '2005', 'James McTeigue', 'NAN', '132 min', 8.2, 62)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 72)
(46, 'Vikram Vedha', '2017', 'Gayatri', 'Pushkar', '147 min', 8.2, '^^^^^^^\n')
(47, 'Ran', '1985', 'Akira Kurosawa', 'NAN', '162 min', 8.2, 97)
(48, 'Baahubali 2: The Conclusion', '2017', 'S.S. Rajamouli', 'NAN', '167 min', 8.2, '^^^^^^^\n')
(49, 'Yâ„¢jinbâ„¢', '1961', 'Akira Kurosawa', 'NAN', '110 min', 8.2, 93)
(50, 'Sherlock Jr.', '1924', 'Buster Keaton', 'NAN', '45 min', 8.2, '^^^^^^^\n')

In [9]:
sql = "SELECT * FROM imdbmoviesdata WHERE SNo =10"
result = cur.execute(sql)
for row in result:
    print(row)

(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)

In [10]:
sql = "SELECT * FROM imdbmoviesdata WHERE Metascore = 72"
result = cur.execute(sql)
for row in result:
    print(row)

(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 72)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 72)

In [11]:
sql = "SELECT * FROM imdbmoviesdata WHERE Ratings =9"
result = cur.execute(sql)
for row in result:
    print(row)

(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)

# Phase2:-Quary.1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [12]:
#select the Directors names from movies

query1 = cur.execute("SELECT * FROM imdbmoviesdata Where Director_1 == 'Christopher Nolan' OR Director_2 == 'Matt Reeves'")
for row in result:
    print(row)

In [13]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE director_1 == 'Christopher Nolan' or director_2 ==  'Steven Spielberg'")
for row in result:
    print(row)

(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 85)
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 68)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 65)

In [14]:
#select the Directors names from movies

query1 = cur.execute("SELECT * FROM imdbmoviesdata Where Director_1 == 'Christopher Nolan' AND Director_2 == 'Matt Reeves'")
for row in result:
    print(row)

In [16]:
#select the Directors names from movies

query1 = cur.execute("SELECT * FROM imdbmoviesdata Where Director_1 == 'Christopher Nolan' AND Director_2 == 'Steven Spielberg'")
for row in result:
    print(row)

# Q.2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [18]:
result = cur.execute("SELECT * FROM imdbmoviesdata ORDER BY duration IN(140,190) asc limit 15")
for row in result:
    print(row)

('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 82)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, '^^^^^^^\n')
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 90)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 98)
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 85)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, '^^^^^^^\n')
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 64)

In [20]:
result = cur.execute("SELECT * FROM imdbmoviesdata ORDER BY duration IN(140,160) asc limit 25")
for row in result:
    print(row)

('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 82)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, '^^^^^^^\n')
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 90)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 98)
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 85)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, '^^^^^^^\n')
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 64)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 67)
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 78)
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 87)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 85)
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 68)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 77)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 84)
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, '^^^^^^^\n')
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, '^^^^^^^\n')

# Q.3) Display all details of movies with ratings above 7 in ascending order.

In [21]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE Ratings>7")
for row in result:
    print(row)

('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 74)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 82)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, '^^^^^^^\n')
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 90)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 98)
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 85)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, '^^^^^^^\n')
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 64)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 67)
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 78)
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 87)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 85)
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 68)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 77)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 84)
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, '^^^^^^^\n')
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, '^^^^^^^\n')
(25, 'Heat', '1995', 'Michael Mann', 'NAN', '170 min', 8.3, 76)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 78)
(27, 'Star Wars: Episode VI - Return of the Jedi', '1983', 'Richard Marquand', 'NAN', '131 min', 8.3, 58)
(28, 'Mononoke-hime', '1997', 'Hayao Miyazaki', 'NAN', '134 min', 8.3, 76)
(29, 'North by Northwest', '1959', 'Alfred Hitchcock', 'NAN', '136 min', 8.3, 98)
(30, 'Kantara', '2022', 'Rishab Shetty', 'NAN', '148 min', 8.3, '^^^^^^^\n')
(31, 'Dangal', '2016', 'Nitesh Tiwari', 'NAN', '161 min', 8.3, '^^^^^^^\n')
(32, 'K.G.F: Chapter 2', '2022', 'Prashanth Neel', 'NAN', '168 min', 8.3, '^^^^^^^\n')
(33, 'Vikram', '2022', 'Lokesh Kanagaraj', 'NAN', '175 min', 8.3, '^^^^^^^\n')
(34, 'Ratsasan', '2018', 'Ram Kumar', 'NAN', '170 min', 8.3, '^^^^^^^\n')
(35, 'Shershaah', '2021', 'Vishnuvardhan', 'NAN', '135 min', 8.3, '^^^^^^^\n')
(36, 'Guardians of the Galaxy Vol. 3', '2023', 'James Gunn', 'NAN', '150 min', 8.2, 64)
(37, 'Spider-Man: No Way Home', '2021', 'Jon Watts', 'NAN', '148 min', 8.2, 71)
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 68)
(39, '1917', '2019', 'Sam Mendes', 'NAN', '119 min', 8.2, 78)
(40, 'Kill Bill: Vol. 1', '2003', 'Quentin Tarantino', 'NAN', '111 min', 8.2, 69)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 65)
(42, 'Batman Begins', '2005', 'Christopher Nolan', 'NAN', '140 min', 8.2, 70)
(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 72)
(44, 'V for Vendetta', '2005', 'James McTeigue', 'NAN', '132 min', 8.2, 62)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 72)
(46, 'Vikram Vedha', '2017', 'Gayatri', 'Pushkar', '147 min', 8.2, '^^^^^^^\n')
(47, 'Ran', '1985', 'Akira Kurosawa', 'NAN', '162 min', 8.2, 97)
(48, 'Baahubali 2: The Conclusion', '2017', 'S.S. Rajamouli', 'NAN', '167 min', 8.2, '^^^^^^^\n')
(49, 'Yâ„¢jinbâ„¢', '1961', 'Akira Kurosawa', 'NAN', '110 min', 8.2, 93)
(50, 'Sherlock Jr.', '1924', 'Buster Keaton', 'NAN', '45 min', 8.2, '^^^^^^^\n')

In [23]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE Ratings>=9")
for row in result:
    print(row)

('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)

# Quary.4) Display all movie names in descending order.

In [24]:
# How to change the order of records(Increasing or decreasing)
result = cur.execute("SELECT * FROM imdbmoviesdata ORDER BY movie_name desc")
for row in result:
    print(row)

(49, 'Yâ„¢jinbâ„¢', '1961', 'Akira Kurosawa', 'NAN', '110 min', 8.2, 93)
(46, 'Vikram Vedha', '2017', 'Gayatri', 'Pushkar', '147 min', 8.2, '^^^^^^^\n')
(33, 'Vikram', '2022', 'Lokesh Kanagaraj', 'NAN', '175 min', 8.3, '^^^^^^^\n')
(44, 'V for Vendetta', '2005', 'James McTeigue', 'NAN', '132 min', 8.2, 62)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 78)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(27, 'Star Wars: Episode VI - Return of the Jedi', '1983', 'Richard Marquand', 'NAN', '131 min', 8.3, 58)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 82)
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 90)
(37, 'Spider-Man: No Way Home', '2021', 'Jon Watts', 'NAN', '148 min', 8.2, 71)
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 87)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, '^^^^^^^\n')
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, '^^^^^^^\n')
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 98)
(35, 'Shershaah', '2021', 'Vishnuvardhan', 'NAN', '135 min', 8.3, '^^^^^^^\n')
(50, 'Sherlock Jr.', '1924', 'Buster Keaton', 'NAN', '45 min', 8.2, '^^^^^^^\n')
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 85)
(34, 'Ratsasan', '2018', 'Ram Kumar', 'NAN', '170 min', 8.3, '^^^^^^^\n')
(47, 'Ran', '1985', 'Akira Kurosawa', 'NAN', '162 min', 8.2, 97)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 85)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 77)
(29, 'North by Northwest', '1959', 'Alfred Hitchcock', 'NAN', '136 min', 8.3, 98)
('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(28, 'Mononoke-hime', '1997', 'Hayao Miyazaki', 'NAN', '134 min', 8.3, 76)
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 64)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 72)
(40, 'Kill Bill: Vol. 1', '2003', 'Quentin Tarantino', 'NAN', '111 min', 8.2, 69)
(30, 'Kantara', '2022', 'Rishab Shetty', 'NAN', '148 min', 8.3, '^^^^^^^\n')
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, '^^^^^^^\n')
(32, 'K.G.F: Chapter 2', '2022', 'Prashanth Neel', 'NAN', '168 min', 8.3, '^^^^^^^\n')
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 68)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 65)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 74)
(25, 'Heat', '1995', 'Michael Mann', 'NAN', '170 min', 8.3, 76)
(36, 'Guardians of the Galaxy Vol. 3', '2023', 'James Gunn', 'NAN', '150 min', 8.2, 64)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 67)
(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 72)
(31, 'Dangal', '2016', 'Nitesh Tiwari', 'NAN', '161 min', 8.3, '^^^^^^^\n')
(42, 'Batman Begins', '2005', 'Christopher Nolan', 'NAN', '140 min', 8.2, 70)
(48, 'Baahubali 2: The Conclusion', '2017', 'S.S. Rajamouli', 'NAN', '167 min', 8.2, '^^^^^^^\n')
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 68)
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 78)
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, '^^^^^^^\n')
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 84)
(39, '1917', '2019', 'Sam Mendes', 'NAN', '119 min', 8.2, 78)

In [25]:
# How to change the order of records(Increasing or decreasing)
result = cur.execute("SELECT * FROM imdbmoviesdata ORDER BY movie_name asc")
for row in result:
    print(row)

(39, '1917', '2019', 'Sam Mendes', 'NAN', '119 min', 8.2, 78)
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 84)
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, '^^^^^^^\n')
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 78)
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 68)
(48, 'Baahubali 2: The Conclusion', '2017', 'S.S. Rajamouli', 'NAN', '167 min', 8.2, '^^^^^^^\n')
(42, 'Batman Begins', '2005', 'Christopher Nolan', 'NAN', '140 min', 8.2, 70)
(31, 'Dangal', '2016', 'Nitesh Tiwari', 'NAN', '161 min', 8.3, '^^^^^^^\n')
(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 72)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 67)
(36, 'Guardians of the Galaxy Vol. 3', '2023', 'James Gunn', 'NAN', '150 min', 8.2, 64)
(25, 'Heat', '1995', 'Michael Mann', 'NAN', '170 min', 8.3, 76)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 74)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 65)
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 68)
(32, 'K.G.F: Chapter 2', '2022', 'Prashanth Neel', 'NAN', '168 min', 8.3, '^^^^^^^\n')
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, '^^^^^^^\n')
(30, 'Kantara', '2022', 'Rishab Shetty', 'NAN', '148 min', 8.3, '^^^^^^^\n')
(40, 'Kill Bill: Vol. 1', '2003', 'Quentin Tarantino', 'NAN', '111 min', 8.2, 69)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 72)
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 64)
(28, 'Mononoke-hime', '1997', 'Hayao Miyazaki', 'NAN', '134 min', 8.3, 76)
('SNo.', 'Name Of Movie', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Metascore\n')
(29, 'North by Northwest', '1959', 'Alfred Hitchcock', 'NAN', '136 min', 8.3, 98)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 77)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 85)
(47, 'Ran', '1985', 'Akira Kurosawa', 'NAN', '162 min', 8.2, 97)
(34, 'Ratsasan', '2018', 'Ram Kumar', 'NAN', '170 min', 8.3, '^^^^^^^\n')
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 85)
(50, 'Sherlock Jr.', '1924', 'Buster Keaton', 'NAN', '45 min', 8.2, '^^^^^^^\n')
(35, 'Shershaah', '2021', 'Vishnuvardhan', 'NAN', '135 min', 8.3, '^^^^^^^\n')
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 98)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, '^^^^^^^\n')
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, '^^^^^^^\n')
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 87)
(37, 'Spider-Man: No Way Home', '2021', 'Jon Watts', 'NAN', '148 min', 8.2, 71)
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 90)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 82)
(27, 'Star Wars: Episode VI - Return of the Jedi', '1983', 'Richard Marquand', 'NAN', '131 min', 8.3, 58)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 78)
(44, 'V for Vendetta', '2005', 'James McTeigue', 'NAN', '132 min', 8.2, 62)
(33, 'Vikram', '2022', 'Lokesh Kanagaraj', 'NAN', '175 min', 8.3, '^^^^^^^\n')
(46, 'Vikram Vedha', '2017', 'Gayatri', 'Pushkar', '147 min', 8.2, '^^^^^^^\n')
(49, 'Yâ„¢jinbâ„¢', '1961', 'Akira Kurosawa', 'NAN', '110 min', 8.2, 93)

# 5. Display movie name starts with ‘P’ and their rating is greater than 7.

In [29]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE movie_name like 'P%' AND Ratings>7")
for row in result:
    print(row)

In [30]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE movie_name like 'T%'")
for row in result:
    print(row)

(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 78)

In [31]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE director_1 like 'S%' AND Ratings>7")
for row in result:
    print(row)

In [32]:
result = cur.execute("SELECT * FROM imdbmoviesdata WHERE movie_name like 'T%' AND Ratings>7")
for row in result:
    print(row)

(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 84)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 94)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 92)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 87)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, 73)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 75)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 78)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 78)

# *************DONE***********