In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('movies_database.db')

In [3]:
db = sqlite3.connect('genre_database.db')

In [4]:
db=sqlite3.connect("C:/MySQLite_Database/studentdb.db/movies_genre_database.db")

In [5]:
cur = db.cursor()

In [6]:
cur.execute('create table movies4(movie_id int primary key,movie_name text,director_1 text,director_2 text,director_3 text,duration int,year int,ratings int,metascore int)')

In [7]:
cur.execute("create table genres4(genre varchar(15) primary key,movie_id int,movie_name text,star1 text,star2 text,star3 text,star4 text,genre2 text,genre3 text,votes int,Gross_collection int,ratings int,certification text,foreign key(movie_id) references movies2(movie_id))")

In [8]:
with open('movies4.csv','r') as file:
    total_records = 0
    for row in file:
        cur.execute("insert into movies4 values(?,?,?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted in table')

51 Records inserted in table

In [11]:
with open('genres4.csv','r') as file:
    total_records = 0
    for row in file:
        cur.execute("insert into genres4 values(?,?,?,?,?,?,?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted in table')

51 Records inserted in table

In [12]:
results=cur.execute('select movie_name from movies4')

results.fetchall()

[('Movie_Name',),
 ('The Dark Knight',),
 ('The Lord of the Rings: The Return of the King',),
 ('Inception',),
 ('The Lord of the Rings: The Fellowship of the Ring',),
 ('The Lord of the Rings: The Two Towers',),
 ('The Matrix',),
 ('Star Wars: Episode V - The Empire Strikes Back',),
 ('Soorarai Pottru',),
 ('Star Wars',),
 ('Terminator 2: Judgment Day',),
 ('Shichinin no samurai',),
 ('Seppuku',),
 ('Sita Ramam',),
 ('LÅ½on',),
 ('Gladiator',),
 ('Avengers: Endgame',),
 ('Spider-Man: Into the Spider-Verse',),
 ('Raiders of the Lost Ark',),
 ('Avengers: Infinity War',),
 ('Oldeuboi',),
 ('The Dark Knight Rises',),
 ('Aliens',),
 ('Kaithi',),
 ('Asuran',),
 ('Heat',),
 ('Top Gun: Maverick',),
 ('Star Wars: Episode VI - Return of the Jedi',),
 ('Mononoke-hime',),
 ('North by Northwest',),
 ('Kantara',),
 ('Dangal',),
 ('K.G.F: Chapter 2',),
 ('Vikram',),
 ('Ratsasan',),
 ('Shershaah',),
 ('Guardians of the Galaxy Vol. 3',),
 ('Spider-Man: No Way Home',),
 ('Jurassic Park',),
 ('1917',),
 ('Kill Bill: Vol. 1',),
 ('Indiana Jones and the Last Crusade',),
 ('Batman Begins',),
 ('Die Hard',),
 ('V for Vendetta',),
 ('Kimetsu no Yaiba: Mugen Ressha-Hen',),
 ('Vikram Vedha',),
 ('Ran',),
 ('Baahubali 2: The Conclusion',),
 ('Yâ„¢jinbâ„¢',),
 ('Sherlock Jr.',)]

In [13]:
results=cur.execute('select genre2 from genres4')

results.fetchall()

[('Genre',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 ('Animation',),
 ('Action',),
 ('Action',),
 ('Action',),
 ('Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 ('Action',),
 (' Animation',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 ('Action',),
 ('Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 ('Animation',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',),
 (' Action',)]

# Q.1Display all details from both tables where movie names are the same.

In [14]:
query = "select movies4.movie_id,movies4.movie_name,genres4.genre,genres4.movie_name FROM movies4 INNER JOIN genres4 ON movies4.movie_id = genres4.movie_id"
results = cur.execute(query)
for row in results:
    print(row)

In [15]:
query = "SELECT movies2.movie_id,movies2.movie_name,movies2.director_1,movies2.director_2,movies2.director_3,movies2.year,movies2.ratings,movies2.duration,movies2.metascore,genres2.genre,genres2.movie_name,genres2.genre2,genres2.genre3,genres2.movie_id,genres2.star1,genres2.star2,genres2.star3,genres2.star4,genres2.ratings,genres2.gross_collection,genres2.votes,genres2.certification FROM movies2 INNER JOIN genres2 ON movies2.movie_id = genres2.movie_id"
results = cur.execute(query)
for row in results:
    print(row)

In [16]:
query = "SELECT movies2.movie_id,movies2.movie_name,movies2.director_1,movies2.director_2,movies2.director_3,movies2.year,movies2.ratings,movies2.duration,movies2.metascore,genres2.genre,genres2.movie_name,genres2.genre2,genres2.genre3,genres2.movie_id,genres2.star1,genres2.star2,genres2.star3,genres2.star4,genres2.ratings,genres2.gross_collection,genres2.votes,genres2.certification FROM movies2 LEFT JOIN genres2 ON movies2.movie_id = genres2.movie_id"
results = cur.execute(query)
for row in results:
    print(row)

('movie_id.', 'Movie_Name', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Director_3', 'Metascore\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 'NAN', 84, None, None, None, None, None, None, None, None, None, None, None, None, None)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 'NAN', 94, None, None, None, None, None, None, None, None, None, None, None, None, None)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 'NAN', 74, None, None, None, None, None, None, None, None, None, None, None, None, None)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 'NAN', 92, None, None, None, None, None, None, None, None, None, None, None, None, None)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 'NAN', 87, None, None, None, None, None, None, None, None, None, None, None, None, None)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, ' NAN', 73, None, None, None, None, None, None, None, None, None, None, None, None, None)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 'NAN', 82, None, None, None, None, None, None, None, None, None, None, None, None, None)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 'NAN', 90, None, None, None, None, None, None, None, None, None, None, None, None, None)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 'NAN', 75, None, None, None, None, None, None, None, None, None, None, None, None, None)
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 'NAN', 98, None, None, None, None, None, None, None, None, None, None, None, None, None)
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 'NAN', 85, None, None, None, None, None, None, None, None, None, None, None, None, None)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 'NAN', 64, None, None, None, None, None, None, None, None, None, None, None, None, None)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 'NAN', 67, None, None, None, None, None, None, None, None, None, None, None, None, None)
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 'Rodney Rothman', 87, None, None, None, None, None, None, None, None, None, None, None, None, None)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 'NAN', 85, None, None, None, None, None, None, None, None, None, None, None, None, None)
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 'Joe Russo', 68, None, None, None, None, None, None, None, None, None, None, None, None, None)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 'NAN', 77, None, None, None, None, None, None, None, None, None, None, None, None, None)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 'NAN', 84, None, None, None, None, None, None, None, None, None, None, None, None, None)
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(25, 'Heat', '1995', 'Michael Mann', 'NAN', '170 min', 8.3, 'NAN', 76, None, None, None, None, None, None, None, None, None, None, None, None, None)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(27, 'Star Wars: Episode VI - Return of the Jedi', '1983', 'Richard Marquand', 'NAN', '131 min', 8.3, 'NAN', 58, None, None, None, None, None, None, None, None, None, None, None, None, None)
(28, 'Mononoke-hime', '1997', 'Hayao Miyazaki', 'NAN', '134 min', 8.3, 'NAN', 76, None, None, None, None, None, None, None, None, None, None, None, None, None)
(29, 'North by Northwest', '1959', 'Alfred Hitchcock', 'NAN', '136 min', 8.3, 'NAN', 98, None, None, None, None, None, None, None, None, None, None, None, None, None)
(30, 'Kantara', '2022', 'Rishab Shetty', 'NAN', '148 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(31, 'Dangal', '2016', 'Nitesh Tiwari', 'NAN', '161 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(32, 'K.G.F: Chapter 2', '2022', 'Prashanth Neel', 'NAN', '168 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(33, 'Vikram', '2022', 'Lokesh Kanagaraj', 'NAN', '175 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(34, 'Ratsasan', '2018', 'Ram Kumar', 'NAN', '170 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(35, 'Shershaah', '2021', 'Vishnuvardhan', 'NAN', '135 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(36, 'Guardians of the Galaxy Vol. 3', '2023', 'James Gunn', 'NAN', '150 min', 8.2, 'NAN', 64, None, None, None, None, None, None, None, None, None, None, None, None, None)
(37, 'Spider-Man: No Way Home', '2021', 'Jon Watts', 'NAN', '148 min', 8.2, 'NAN', 71, None, None, None, None, None, None, None, None, None, None, None, None, None)
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 'NAN', 68, None, None, None, None, None, None, None, None, None, None, None, None, None)
(39, '1917', '2019', 'Sam Mendes', 'NAN', '119 min', 8.2, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(40, 'Kill Bill: Vol. 1', '2003', 'Quentin Tarantino', 'NAN', '111 min', 8.2, 'NAN', 69, None, None, None, None, None, None, None, None, None, None, None, None, None)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 'NAN', 65, None, None, None, None, None, None, None, None, None, None, None, None, None)
(42, 'Batman Begins', '2005', 'Christopher Nolan', 'NAN', '140 min', 8.2, 'NAN', 70, None, None, None, None, None, None, None, None, None, None, None, None, None)
(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 'NAN', 72, None, None, None, None, None, None, None, None, None, None, None, None, None)
(44, 'V for Vendetta', '2005', 'James McTeigue', 'NAN', '132 min', 8.2, 'NAN', 62, None, None, None, None, None, None, None, None, None, None, None, None, None)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 'NAN', 72, None, None, None, None, None, None, None, None, None, None, None, None, None)
(46, 'Vikram Vedha', '2017', 'Gayatri', 'Pushkar', '147 min', 8.2, 'Gowtham Selvaraj', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(47, 'Ran', '1985', 'Akira Kurosawa', 'NAN', '162 min', 8.2, 'NAN', 97, None, None, None, None, None, None, None, None, None, None, None, None, None)
(48, 'Baahubali 2: The Conclusion', '2017', 'S.S. Rajamouli', 'NAN', '167 min', 8.2, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(49, 'Yâ„¢jinbâ„¢', '1961', 'Akira Kurosawa', 'NAN', '110 min', 8.2, 'NAN', 93, None, None, None, None, None, None, None, None, None, None, None, None, None)
(50, 'Sherlock Jr.', '1924', 'Buster Keaton', 'NAN', '45 min', 8.2, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)

In [20]:
query = "SELECT movies4.movie_id,movies4.movie_name,movies4.director_1,movies4.director_2,movies4.director_3,movies4.year,movies4.ratings,movies4.duration,movies4.metascore,genres4.genre,genres4.movie_name,genres4.genre2,genres4.genre3,genres4.movie_id,genres4.star1,genres4.star2,genres4.star3,genres4.star4,genres4.ratings,genres4.gross_collection,genres4.votes,genres4.certification FROM movies4 LEFT JOIN genres4 ON movies4.Movie_Name = genres4.Movie_Name"
results = cur.execute(query)
for row in results:
    print(row)

('movie_id.', 'Movie_Name', 'Yera_of_release', 'Director_1', 'Director_2', 'Duration', 'Ratings', 'Director_3', 'Metascore\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(1, 'The Dark Knight', '2008', 'Christopher Nolan', 'NAN', '152 min', 9, 'NAN', 84, None, None, None, None, None, None, None, None, None, None, None, None, None)
(2, 'The Lord of the Rings: The Return of the King', '2003', 'Peter Jackson', 'NAN', '201 min', 9, 'NAN', 94, None, None, None, None, None, None, None, None, None, None, None, None, None)
(3, 'Inception', '2010', 'Christopher Nolan', 'NAN', '148 min', 8.8, 'NAN', 74, None, None, None, None, None, None, None, None, None, None, None, None, None)
(4, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 'Peter Jackson', 'NAN', '178 min', 8.8, 'NAN', 92, None, None, None, None, None, None, None, None, None, None, None, None, None)
(5, 'The Lord of the Rings: The Two Towers', '2002', 'Peter Jackson', 'NAN', '179 min', 8.8, 'NAN', 87, None, None, None, None, None, None, None, None, None, None, None, None, None)
(6, 'The Matrix', '1999', 'Lana Wachowski', ' Laurence Fishburne', '136 min', 8.7, ' NAN', 73, None, None, None, None, None, None, None, None, None, None, None, None, None)
(7, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 'Irvin Kershner', 'NAN', '124 min', 8.7, 'NAN', 82, None, None, None, None, None, None, None, None, None, None, None, None, None)
(8, 'Soorarai Pottru', '2020', 'Sudha Kongara', 'NAN', '153 min', 8.7, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(9, 'Star Wars', '1977', 'George Lucas', 'NAN', '121 min', 8.6, 'NAN', 90, None, None, None, None, None, None, None, None, None, None, None, None, None)
(10, 'Terminator 2: Judgment Day', '1991', 'James Cameron', 'NAN', '137 min', 8.6, 'NAN', 75, None, None, None, None, None, None, None, None, None, None, None, None, None)
(11, 'Shichinin no samurai', '1954', 'Akira Kurosawa', 'NAN', '207 min', 8.6, 'NAN', 98, None, None, None, None, None, None, None, None, None, None, None, None, None)
(12, 'Seppuku', '1962', 'Masaki Kobayashi', 'NAN', '133 min', 8.6, 'NAN', 85, None, None, None, None, None, None, None, None, None, None, None, None, None)
(13, 'Sita Ramam', '2022', 'Hanu Raghavapudi', 'NAN', '163 min', 8.6, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(14, 'LÅ½on', '1994', 'Luc Besson', 'NAN', '110 min', 8.5, 'NAN', 64, None, None, None, None, None, None, None, None, None, None, None, None, None)
(15, 'Gladiator', '2000', 'Ridley Scott', 'NAN', '155 min', 8.5, 'NAN', 67, None, None, None, None, None, None, None, None, None, None, None, None, None)
(16, 'Avengers: Endgame', '2019', 'Anthony Russo', 'Joe Russo', '181 min', 8.4, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(17, 'Spider-Man: Into the Spider-Verse', '2018', 'Bob Persichetti', 'Peter Ramsey', '117 min', 8.4, 'Rodney Rothman', 87, None, None, None, None, None, None, None, None, None, None, None, None, None)
(18, 'Raiders of the Lost Ark', '1981', 'Steven Spielberg', 'NAN', '115 min', 8.4, 'NAN', 85, None, None, None, None, None, None, None, None, None, None, None, None, None)
(19, 'Avengers: Infinity War', '2018', 'Anthony Russo', 'Joe Russo', '149 min', 8.4, 'Joe Russo', 68, None, None, None, None, None, None, None, None, None, None, None, None, None)
(20, 'Oldeuboi', '2003', 'Park Chan-wook', 'NAN', '101 min', 8.4, 'NAN', 77, None, None, None, None, None, None, None, None, None, None, None, None, None)
(21, 'The Dark Knight Rises', '2012', 'Christopher Nolan', 'NAN', '164 min', 8.4, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(22, 'Aliens', '1986', 'James Cameron', 'NAN', '137 min', 8.4, 'NAN', 84, None, None, None, None, None, None, None, None, None, None, None, None, None)
(23, 'Kaithi', '2019', 'Lokesh Kanagaraj', 'NAN', '145 min', 8.4, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(24, 'Asuran', '2019', 'Vetrimaaran', 'NAN', '141 min', 8.4, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(25, 'Heat', '1995', 'Michael Mann', 'NAN', '170 min', 8.3, 'NAN', 76, None, None, None, None, None, None, None, None, None, None, None, None, None)
(26, 'Top Gun: Maverick', '2022', 'Joseph Kosinski', 'NAN', '130 min', 8.3, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(27, 'Star Wars: Episode VI - Return of the Jedi', '1983', 'Richard Marquand', 'NAN', '131 min', 8.3, 'NAN', 58, None, None, None, None, None, None, None, None, None, None, None, None, None)
(28, 'Mononoke-hime', '1997', 'Hayao Miyazaki', 'NAN', '134 min', 8.3, 'NAN', 76, None, None, None, None, None, None, None, None, None, None, None, None, None)
(29, 'North by Northwest', '1959', 'Alfred Hitchcock', 'NAN', '136 min', 8.3, 'NAN', 98, None, None, None, None, None, None, None, None, None, None, None, None, None)
(30, 'Kantara', '2022', 'Rishab Shetty', 'NAN', '148 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(31, 'Dangal', '2016', 'Nitesh Tiwari', 'NAN', '161 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(32, 'K.G.F: Chapter 2', '2022', 'Prashanth Neel', 'NAN', '168 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(33, 'Vikram', '2022', 'Lokesh Kanagaraj', 'NAN', '175 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(34, 'Ratsasan', '2018', 'Ram Kumar', 'NAN', '170 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(35, 'Shershaah', '2021', 'Vishnuvardhan', 'NAN', '135 min', 8.3, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(36, 'Guardians of the Galaxy Vol. 3', '2023', 'James Gunn', 'NAN', '150 min', 8.2, 'NAN', 64, None, None, None, None, None, None, None, None, None, None, None, None, None)
(37, 'Spider-Man: No Way Home', '2021', 'Jon Watts', 'NAN', '148 min', 8.2, 'NAN', 71, None, None, None, None, None, None, None, None, None, None, None, None, None)
(38, 'Jurassic Park', '1993', 'Steven Spielberg', 'NAN', '127 min', 8.2, 'NAN', 68, None, None, None, None, None, None, None, None, None, None, None, None, None)
(39, '1917', '2019', 'Sam Mendes', 'NAN', '119 min', 8.2, 'NAN', 78, None, None, None, None, None, None, None, None, None, None, None, None, None)
(40, 'Kill Bill: Vol. 1', '2003', 'Quentin Tarantino', 'NAN', '111 min', 8.2, 'NAN', 69, None, None, None, None, None, None, None, None, None, None, None, None, None)
(41, 'Indiana Jones and the Last Crusade', '1989', 'Steven Spielberg', 'NAN', '127 min', 8.2, 'NAN', 65, None, None, None, None, None, None, None, None, None, None, None, None, None)
(42, 'Batman Begins', '2005', 'Christopher Nolan', 'NAN', '140 min', 8.2, 'NAN', 70, None, None, None, None, None, None, None, None, None, None, None, None, None)
(43, 'Die Hard', '1988', 'John McTiernan', 'NAN', '132 min', 8.2, 'NAN', 72, None, None, None, None, None, None, None, None, None, None, None, None, None)
(44, 'V for Vendetta', '2005', 'James McTeigue', 'NAN', '132 min', 8.2, 'NAN', 62, None, None, None, None, None, None, None, None, None, None, None, None, None)
(45, 'Kimetsu no Yaiba: Mugen Ressha-Hen', '2020', 'Haruo Sotozaki', 'NAN', '117 min', 8.2, 'NAN', 72, None, None, None, None, None, None, None, None, None, None, None, None, None)
(46, 'Vikram Vedha', '2017', 'Gayatri', 'Pushkar', '147 min', 8.2, 'Gowtham Selvaraj', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(47, 'Ran', '1985', 'Akira Kurosawa', 'NAN', '162 min', 8.2, 'NAN', 97, None, None, None, None, None, None, None, None, None, None, None, None, None)
(48, 'Baahubali 2: The Conclusion', '2017', 'S.S. Rajamouli', 'NAN', '167 min', 8.2, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)
(49, 'Yâ„¢jinbâ„¢', '1961', 'Akira Kurosawa', 'NAN', '110 min', 8.2, 'NAN', 93, None, None, None, None, None, None, None, None, None, None, None, None, None)
(50, 'Sherlock Jr.', '1924', 'Buster Keaton', 'NAN', '45 min', 8.2, 'NAN', '^^^^^^^\n', None, None, None, None, None, None, None, None, None, None, None, None, None)

In [21]:
query = "SELECT movies4.movie_id,movies4.movie_name,movies4.director_1,movies4.director_2,movies4.director_3,movies4.year,movies4.ratings,movies4.duration,movies4.metascore,genres4.genre,genres4.movie_name,genres4.genre2,genres4.genre3,genres4.movie_id,genres4.star1,genres4.star2,genres4.star3,genres4.star4,genres4.ratings,genres4.gross_collection,genres4.votes,genres4.certification FROM movies4 INNER JOIN genres4 ON movies4.Movie_Name = genres4.Movie_Name"
results = cur.execute(query)
for row in results:
    print(row)

# Q.1Display all details from both tables where movie names are the same.

In [22]:
query2 = "SELECT Movie_Name,Director_1[,Genre,Gross_collection] FROM movies4[,genres4] WHERE Ratings>8"
results = cur.execute(query2)
for row in results:
    print(row)

('Movie_Name', 'Yera_of_release')
('The Dark Knight', '2008')
('The Lord of the Rings: The Return of the King', '2003')
('Inception', '2010')
('The Lord of the Rings: The Fellowship of the Ring', '2001')
('The Lord of the Rings: The Two Towers', '2002')
('The Matrix', '1999')
('Star Wars: Episode V - The Empire Strikes Back', '1980')
('Soorarai Pottru', '2020')
('Star Wars', '1977')
('Terminator 2: Judgment Day', '1991')
('Shichinin no samurai', '1954')
('Seppuku', '1962')
('Sita Ramam', '2022')
('LÅ½on', '1994')
('Gladiator', '2000')
('Avengers: Endgame', '2019')
('Spider-Man: Into the Spider-Verse', '2018')
('Raiders of the Lost Ark', '1981')
('Avengers: Infinity War', '2018')
('Oldeuboi', '2003')
('The Dark Knight Rises', '2012')
('Aliens', '1986')
('Kaithi', '2019')
('Asuran', '2019')
('Heat', '1995')
('Top Gun: Maverick', '2022')
('Star Wars: Episode VI - Return of the Jedi', '1983')
('Mononoke-hime', '1997')
('North by Northwest', '1959')
('Kantara', '2022')
('Dangal', '2016')
('K.G.F: Chapter 2', '2022')
('Vikram', '2022')
('Ratsasan', '2018')
('Shershaah', '2021')
('Guardians of the Galaxy Vol. 3', '2023')
('Spider-Man: No Way Home', '2021')
('Jurassic Park', '1993')
('1917', '2019')
('Kill Bill: Vol. 1', '2003')
('Indiana Jones and the Last Crusade', '1989')
('Batman Begins', '2005')
('Die Hard', '1988')
('V for Vendetta', '2005')
('Kimetsu no Yaiba: Mugen Ressha-Hen', '2020')
('Vikram Vedha', '2017')
('Ran', '1985')
('Baahubali 2: The Conclusion', '2017')
('Yâ„¢jinbâ„¢', '1961')
('Sherlock Jr.', '1924')

# Q.3. Display all details from both tables with the highest gross collection.

In [25]:
query3="SELECT MAX(Gross_collection),(SELECT Movie_Name FROM movies4 WHERE movies4.Movie_Name = genres4.Movie_Name) FROM genres4"
results = cur.execute(query3)
for row in results:
    print(row)

('Gross_collection', None)

In [26]:
query3="SELECT MIN(Gross_collection),(SELECT Movie_Name FROM movies4 WHERE movies4.Movie_Name = genres4.Movie_Name) FROM genres4"
results = cur.execute(query3)
for row in results:
    print(row)

('$0.27M', None)

In [28]:
query3 = "SELECT * FROM Movies4 WHERE (Movie_Name,Ratings) IN (SELECT Movie_Name,MAX(Gross_collection) FROM genres4 GROUP BY Movie_Name)"
results = cur.execute(query3)
for row in results:
    print(row)

# Q.2)Display all movie names, Director, ratings, and gross collection where the genre is action.

In [45]:
query = "SELECT Movie_Name,Director_1,Ratings,(SELECT Gross_collection FROM genres4 WHERE movies4.Movie_Name = genres4.Movie_Name) FROM movies4"
results = cur.execute(query3)
for row in results:
    print(row)

('Movie_Name', 'Metascore\n', 'Ratings', None)
('The Dark Knight', 84, 9, None)
('The Lord of the Rings: The Return of the King', 94, 9, None)
('Inception', 74, 8.8, None)
('The Lord of the Rings: The Fellowship of the Ring', 92, 8.8, None)
('The Lord of the Rings: The Two Towers', 87, 8.8, None)
('The Matrix', 73, 8.7, None)
('Star Wars: Episode V - The Empire Strikes Back', 82, 8.7, None)
('Soorarai Pottru', '^^^^^^^\n', 8.7, None)
('Star Wars', 90, 8.6, None)
('Terminator 2: Judgment Day', 75, 8.6, None)
('Shichinin no samurai', 98, 8.6, None)
('Seppuku', 85, 8.6, None)
('Sita Ramam', '^^^^^^^\n', 8.6, None)
('LÅ½on', 64, 8.5, None)
('Gladiator', 67, 8.5, None)
('Avengers: Endgame', 78, 8.4, None)
('Spider-Man: Into the Spider-Verse', 87, 8.4, None)
('Raiders of the Lost Ark', 85, 8.4, None)
('Avengers: Infinity War', 68, 8.4, None)
('Oldeuboi', 77, 8.4, None)
('The Dark Knight Rises', 78, 8.4, None)
('Aliens', 84, 8.4, None)
('Kaithi', '^^^^^^^\n', 8.4, None)
('Asuran', '^^^^^^^\n', 8.4, None)
('Heat', 76, 8.3, None)
('Top Gun: Maverick', 78, 8.3, None)
('Star Wars: Episode VI - Return of the Jedi', 58, 8.3, None)
('Mononoke-hime', 76, 8.3, None)
('North by Northwest', 98, 8.3, None)
('Kantara', '^^^^^^^\n', 8.3, None)
('Dangal', '^^^^^^^\n', 8.3, None)
('K.G.F: Chapter 2', '^^^^^^^\n', 8.3, None)
('Vikram', '^^^^^^^\n', 8.3, None)
('Ratsasan', '^^^^^^^\n', 8.3, None)
('Shershaah', '^^^^^^^\n', 8.3, None)
('Guardians of the Galaxy Vol. 3', 64, 8.2, None)
('Spider-Man: No Way Home', 71, 8.2, None)
('Jurassic Park', 68, 8.2, None)
('1917', 78, 8.2, None)
('Kill Bill: Vol. 1', 69, 8.2, None)
('Indiana Jones and the Last Crusade', 65, 8.2, None)
('Batman Begins', 70, 8.2, None)
('Die Hard', 72, 8.2, None)
('V for Vendetta', 62, 8.2, None)
('Kimetsu no Yaiba: Mugen Ressha-Hen', 72, 8.2, None)
('Vikram Vedha', '^^^^^^^\n', 8.2, None)
('Ran', 97, 8.2, None)
('Baahubali 2: The Conclusion', '^^^^^^^\n', 8.2, None)
('Yâ„¢jinbâ„¢', 93, 8.2, None)
('Sherlock Jr.', '^^^^^^^\n', 8.2, None)

In [46]:
query3 = "SELECT Movie_Name,Metascore,Ratings,(SELECT Genre=='Action' FROM genres4 WHERE movies4.Movie_Name = genres4.Movie_Name) FROM movies4"
results = cur.execute(query3)
for row in results:
    print(row)

('Movie_Name', 'Metascore\n', 'Ratings', None)
('The Dark Knight', 84, 9, None)
('The Lord of the Rings: The Return of the King', 94, 9, None)
('Inception', 74, 8.8, None)
('The Lord of the Rings: The Fellowship of the Ring', 92, 8.8, None)
('The Lord of the Rings: The Two Towers', 87, 8.8, None)
('The Matrix', 73, 8.7, None)
('Star Wars: Episode V - The Empire Strikes Back', 82, 8.7, None)
('Soorarai Pottru', '^^^^^^^\n', 8.7, None)
('Star Wars', 90, 8.6, None)
('Terminator 2: Judgment Day', 75, 8.6, None)
('Shichinin no samurai', 98, 8.6, None)
('Seppuku', 85, 8.6, None)
('Sita Ramam', '^^^^^^^\n', 8.6, None)
('LÅ½on', 64, 8.5, None)
('Gladiator', 67, 8.5, None)
('Avengers: Endgame', 78, 8.4, None)
('Spider-Man: Into the Spider-Verse', 87, 8.4, None)
('Raiders of the Lost Ark', 85, 8.4, None)
('Avengers: Infinity War', 68, 8.4, None)
('Oldeuboi', 77, 8.4, None)
('The Dark Knight Rises', 78, 8.4, None)
('Aliens', 84, 8.4, None)
('Kaithi', '^^^^^^^\n', 8.4, None)
('Asuran', '^^^^^^^\n', 8.4, None)
('Heat', 76, 8.3, None)
('Top Gun: Maverick', 78, 8.3, None)
('Star Wars: Episode VI - Return of the Jedi', 58, 8.3, None)
('Mononoke-hime', 76, 8.3, None)
('North by Northwest', 98, 8.3, None)
('Kantara', '^^^^^^^\n', 8.3, None)
('Dangal', '^^^^^^^\n', 8.3, None)
('K.G.F: Chapter 2', '^^^^^^^\n', 8.3, None)
('Vikram', '^^^^^^^\n', 8.3, None)
('Ratsasan', '^^^^^^^\n', 8.3, None)
('Shershaah', '^^^^^^^\n', 8.3, None)
('Guardians of the Galaxy Vol. 3', 64, 8.2, None)
('Spider-Man: No Way Home', 71, 8.2, None)
('Jurassic Park', 68, 8.2, None)
('1917', 78, 8.2, None)
('Kill Bill: Vol. 1', 69, 8.2, None)
('Indiana Jones and the Last Crusade', 65, 8.2, None)
('Batman Begins', 70, 8.2, None)
('Die Hard', 72, 8.2, None)
('V for Vendetta', 62, 8.2, None)
('Kimetsu no Yaiba: Mugen Ressha-Hen', 72, 8.2, None)
('Vikram Vedha', '^^^^^^^\n', 8.2, None)
('Ran', 97, 8.2, None)
('Baahubali 2: The Conclusion', '^^^^^^^\n', 8.2, None)
('Yâ„¢jinbâ„¢', 93, 8.2, None)
('Sherlock Jr.', '^^^^^^^\n', 8.2, None)

# Q.5)Display all details from both tables with the lowest gross collection and lowest ratings.

In [47]:
query5 = "SELECT Movie_Name, MIN(Gross_collection),MIN(Ratings),(SELECT Movie_Name FROM movies4 WHERE movies4.Movie_Name = genres4.Movie_Name) FROM genres4"
results = cur.execute(query5)
for row in results:
    print(row)

('Chris Pratt', '$0.27M', 8.2, None)

In [48]:
query5 = "SELECT Movie_Name,Star1, MIN(Gross_collection),MIN(Ratings),(SELECT Movie_Name FROM movies4 WHERE movies4.movie_id = genres4.movie_id) FROM genres4"
results = cur.execute(query5)
for row in results:
    print(row)

('Chris Pratt', 'Chukwudi Iwuji', '$0.27M', 8.2, None)

# *****DONE****************